In [2]:
import postgresql

In [3]:
db = postgresql.open('pq://derin:qwerty@localhost:5432/models')

In [3]:
db

In [10]:
db.execute("CREATE TABLE important_features (\
                  number_imp_feat serial PRIMARY KEY \
                , s_cl_imp boolean \
                , animate_imp boolean \
                , gender_imp boolean \
                , number_imp boolean \
                , case1_imp boolean \
                , reflection_imp boolean \
                , perfective_imp boolean \
                , transitive_imp boolean \
                , person_imp boolean \
                , tense_imp boolean \
                , voice_imp boolean \
                , degree_imp boolean \
                , static_imp boolean)")

In [12]:
for s in ['True', 'False']: 
    for a in ['True', 'False']:
        for g in ['True', 'False']:
            for n in ['True', 'False']:
                for c in ['True', 'False']:
                    for r in ['True', 'False']:
                        for p in ['True', 'False']:
                            for t in ['True', 'False']:
                                for pe in ['True', 'False']:
                                    for te in ['True', 'False']:
                                        for v in ['True', 'False']:
                                            for d in ['True', 'False']:
                                                for st in ['True', 'False']:
                                                    s1 = "INSERT INTO important_features VALUES(DEFAULT, " + \
                                                    s + ", " + a + ", " + g + ", " + n + ", " + c + ", " + \
                                                    r + ", " + p + ", " + t + ", " + pe + ", " + te + ", " + \
                                                    v + ", " + d + ", " + st + ");"
                                                    db.execute(s1)

In [5]:
# для главного(Видеть) важны S_cl, переходность(Transitive)
db.execute("INSERT INTO important_features VALUES(DEFAULT, True, False, False, False, \
                False, False, False, True, \
                False, False, False, False, False)")

In [6]:
#для зависимого(маму, папу) важны S_cl, падеж
db.execute("INSERT INTO important_features VALUES(DEFAULT, True, False, False, False, \
                True, False, False, False, \
                False, False, False, False, False)")

In [14]:
db.query("SELECT count(*) FROM important_features")

[(8192)]

In [4]:
db.execute("DROP TABLE important_features")

In [ ]:
s = input()
s1 = s[s.find(' ') + 1: s.find('{') - 1]
s2 = s[s.find('{') + 1: s.find('}')]
s2 = s2.replace(" ", "").replace("=1", "").split(',')
print("CREATE TYPE " + s1 + " AS ENUM (", end = '')
print(s2, end = '')
print(");")

In [ ]:
s3 = input().replace("[", "").replace("]", "")
print(s3)